/*
* 
* @author Cristiane Garcia
* This project is just a clone with the intention of study and apply the bootstrap concepts. 
*
* @copyright: all rights reserved to Spotify AB; imagines and layout conception from Spotify (www.spotify.com). 
*/

/*Layout
*********************************/
html, body, #home {
    height: 100%;
    overflow-x: hidden;
}

body {
    background:  url(../imagens/capa.png),
                url(../imagens/ruido.png),
                linear-gradient(50deg, #ff4169, #7c26f8);
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
}

/*Navbar
**********************************/

nav.navbar-transparent {
    padding: 15px 0px;
    background: rgba(0,0,0,0.6);
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #9bf0e1;
}

.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: rgba(255,255,255,0.5);
}

.separator {
    width: 1px;
    background: white;
    margin: 12px 15px;
}

/*cover
**********************/

.cover {
    text-align: center;
}

.btn-custom {
    color: white;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    text-transform: uppercase;
    transition: background 0.4s, color 0.4s;
    padding: 10px 20px;
}

.btn-purple {
    background: #7c25f8;
}

.btn-purple:hover {
    background: #6207e3;
    color: white;
}

.btn-white {
    border: 2px solid white;
}

.btn-white:hover {
    background-color: white;
    color: black;
}

.carousel-control-next , .carousel-control-prev {
    width: 5%;
}

/*Content structure
************************/
.box {
    padding-top: 20px;
    padding-bottom: 20px;
}

#services {
    background: white;
}

#features {
    color: white;
}

#services h2,
h3 {
    color: #7c25f8;
}

#features h2 {
    color: white;
}

#features h3 {
    color: #9bf0e1;
}

.albuns {
    padding: 10px 0;
}

.rotation {
    -ms-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    padding-left: 80px;
}

/*Footer
********************/

footer {
    background: #000;
    padding: 50px 0px 20px 0px;
    position: relative;
}

footer h4 {
    color: #919496;
    text-transform: uppercase;
    font-size: 0.8em;
}

footer .navbar-nav a {
    color: white;
    font-size: 0.8em;
}

footer .navbar-nav a:hover {
    color: #9bf0e1;
    text-decoration: none;
}

footer ul {
    list-style: none;
}

footer ul li {
    float: right;
    margin: 0 8px;
}

/*Typography
********************/

h1 {
    font-weight: 900;
    letter-spacing: -0.05em;
    margin-bottom: 50px;
    color: white;
}

h2 {
    font-size: 3em;
    font-weight: 700;
    letter-spacing: -0.04em;
}

h3 {
    font-size: 2em;
    font-weight: 700;
    letter-spacing: -0.04em;
}

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    .btn-custom {
        margin: 10px 15px;
    }
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    h1 {
        font-size: 3em;
    }

    .btn-custom {
        margin: 10px 15px;
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    h1 {
        font-size: 4em;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    h1 {
        font-size: 5em;
    }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    h1 {
        font-size: 6em;
    }
}